<div class="grid border rounded-xl shadow-sm divide-y overflow-hidden sm:flex sm:divide-y-0 sm:divide-x p-6">
    <div class="flex flex-col flex-[1_0_0%] bg-white p-2 content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25691.88476556263!2d174.663996!3d-36.397445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0cdc23f375c36b%3A0x841aa9d5fe4735f3!2sSavan&#39;s%20Bakery!5e0!3m2!1sen!2snz!4v1729067491164!5m2!1sen!2snz" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800">
          Card title
        </h3>
        <p class="mt-1 text-gray-500">
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5">
        <p class="text-xs text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
  
    <div class="flex flex-col flex-[1_0_0%] bg-white p-2 content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25691.88476556263!2d174.663996!3d-36.397445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0cdc23f375c36b%3A0x841aa9d5fe4735f3!2sSavan&#39;s%20Bakery!5e0!3m2!1sen!2snz!4v1729067491164!5m2!1sen!2snz" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800">
          Card title
        </h3>
        <p class="mt-1 text-gray-500">
          This card has supporting text below as a natural lead-in to additional content.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5">
        <p class="text-xs text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
  
    <div class="flex flex-col flex-[1_0_0%] bg-white p-2 content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25691.88476556263!2d174.663996!3d-36.397445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0cdc23f375c36b%3A0x841aa9d5fe4735f3!2sSavan&#39;s%20Bakery!5e0!3m2!1sen!2snz!4v1729067491164!5m2!1sen!2snz" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      <div class="p-4 flex-1 md:p-5">
        <h3 class="text-lg font-bold text-gray-800">
          Card title
        </h3>
        <p class="mt-1 text-gray-500">
          This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
        </p>
      </div>
      <div class="p-4 border-t sm:px-5">
        <p class="text-xs text-gray-500">
          Last updated 5 mins ago
        </p>
      </div>
    </div>
  </div>