---
<script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>

---
<script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
<a class="lemonsqueezy-button" href="https://ghostieboi.lemonsqueezy.com/buy/e624c4ab-23a0-4568-9f6a-6c5ad6d4f919">
  Buy Now
</a>